@CHARSET "UTF-8";

#mascara{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 5;
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
}

#messages {
	width: 660px;
	padding: 12px 2px 7px 2px;
	background-color:white;
	font-size:medium;
	font-weight: bold;
	border: 1px solid black;
    position: absolute;
    margin-left: 8%;	
	top: 150px;
	z-index: 100;
}

#errors { 
	width: 660px;
	padding: 12px 2px 7px 2px;
	background-color:white;
	font-size:medium;
	font-weight: bold;
	border: 1px solid black;
    position: absolute;
    margin-left: 8%;	
	top: 150px;
	z-index: 100;
}

.ok{
	margin: 5px 0px 5px 0px;	
}
